*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1{ font-size: 2.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2.25em;}
p{ font-size: 1.25em;}
ul{ list-style: none;}
li{ font-size: 1em;}

.container{
    max-width: 1400px;
    margin: auto;
}

.color-acento{ color: #a2a4b8; }

header{
    background-color: rgb(115, 183, 185);  
}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: rgb(3, 9, 22);
    font-size: 1.6em;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: right;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover{
    color: #081933;
}

#que_es .container{
    text-align: center;
    padding: 150px 12px;
    background-image: url("img/tca5.jpg");
    background-size: 1400px 700px;
    background-repeat: no-repeat;
}

#desarrollo {
    background-color: rgb(28, 68, 110);
    color: white;
    text-align: center;
}

#desarrollo .container{
    padding: 150px 12px;
}

#desarrollo p{
    display: none;
}

#ayudar .container{
    text-align: center;
    padding: 150px 12px;
    background-image: url("img/descarga.jpg");
    background-size: 1400px 700px;
    background-repeat: no-repeat;
}

#ayudar li{
    margin: 16px 0px;
    font-weight:bold;
}

footer{
    background-color: rgb(230,230,230);
}

footer p{
    margin: 0;
    padding: 12px;
    color: rgb(100,100,100);
}

footer .container{
    height: 50px;
    display: flex;
    justify-content: right;
    align-items: flex-end;
}

#video{
    justify-content: center;
    display: flex;
}

@media (min-width: 850px){
    @media (min-width: 720px){
        header{
            position: fixed;
            width: 100%;
        }
        header .container{
            flex-direction: row;
            justify-content: space-between;
        }
        header nav{
            flex-direction: row;
            padding-bottom: 0;
            padding-right: 20px;
        }
        #que_es .container{
            display: flex;
            justify-content: space-evenly;
        }
        #que_es .texto{
            width: 50%;
            max-width: 600px;
            text-align: initial;
            padding-left: 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        #que_es h2{
            margin-top: 0px;
        }
        #desarrollo p{
            display: block;
            margin-bottom: 30px;
        }
        #desarrollo h2{
            font-size: 4em;
        }
        #desarrollo h3{
            margin-top: 0;
        }

        #ayudar .container{
            text-align: initial;
        }
        #ayudar ul{
            margin-left: 100px;
        }

        footer .container{
            justify-content: flex-end;
        }
    }
    @media (min-width: 1200px) {
        #ayudar{
            background-position-x: calc(100vw - 800px);
            }
        }
    }
#video{
    background-color: rgb(115, 183, 185);
}
#video p{
    text-align: center;
}